<template>
  <div class="sub-category-page">
    <Hero :title="title" :data="products" :is-home="false" />
  </div>
</template>

<script>
import Hero from "~/components/Hero";

export default {
  components: { Hero },
  data() {
    return {
      title: "",
      products: [],
      error: null,
    };
  },
  async mounted() {
    try {
      const sub_category = await this.$strapi.find("sub-categories", {
        slug: this.$route.params.slug,
      });
      this.title = sub_category[0].name;
      this.products = sub_category[0].products;
    } catch (err) {
      this.error = err;
    }
  },
};
</script>

<style></style>
