// Import Bulma's core
@import "~bulma/sass/utilities/_all";

@font-face {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Inter-Regular-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/Inter-Bold-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~assets/fonts/Inter-Light-slnt=0.ttf") format("truetype");
}

// Set your colors
$primary: #384b60;
$secondary: #5c93c4;
$third: #bedafa;
$fourth: #f8f7fe;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
