<template>
  <div class="product-page">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <div class="title">
              <div class="title-text">
                <h2>{{ product.brand.name }}</h2>
                <h1>{{ product.name }}</h1>
              </div>
              <b-taglist
                v-if="product.category || product.sub_category"
                class="title-tags"
              >
                <b-tag v-if="product.category" type="is-light" rounded>{{
                  product.category.name
                }}</b-tag>
                <b-tag v-if="product.sub_category" type="is-light" rounded>{{
                  product.sub_category.name
                }}</b-tag>
              </b-taglist>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical is-9">
        <article class="tile is-child notification is-normal">
          <div class="content-description">
            <img :src="getImage" alt="Placeholder image" />
            <div v-if="product.description" class="description">
              <p>{{ product.description.slice(0, 400) }} ...</p>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-vertical is-3">
        <article class="tile is-child notification is-normal">
          <div class="content-action">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="price">{{ product.price }} €</p>
                  <b-button class="is-info" @click="addToCart(product)"
                    >Ajouter au panier</b-button
                  >
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import helpers from "../../utils/helpers";
import { mapMutations } from "vuex";

export default {
  async asyncData({ $strapi, params }) {
    try {
      let product = await $strapi.$products.find({
        slug: params.slug,
      });
      return {
        product: product[0],
      };
    } catch (err) {
      console.error(err);
    }
  },
  data() {
    return {
      product: {},
    };
  },
  computed: {
    getImage() {
      return helpers.getMediaUrl(this.product.image.url);
    },
  },
  methods: {
    ...mapMutations({
      addToCart: "cart/add",
    }),
  },
};
</script>

<style lang="scss">
.product-page {
  margin-bottom: 30 / 16 + 0em;

  .is-danger {
    background-color: $primary !important;
  }

  .is-normal {
    background-color: transparent;
  }

  .title-text {
    margin-bottom: 10 / 16 + 0em;
    h1 {
      font-weight: 700;
      font-size: 24 / 16 + 0em;
    }
  }

  .content-description {
    display: flex;
    justify-content: space-between;
    img {
      max-width: 30%;
      height: auto;
      margin-bottom: 10 / 16 + 0em;
    }
    .description {
      max-width: 60%;
    }
  }

  .content-action {
    .price {
      font-size: 20 / 16 + 0em;
      font-weight: 500;
    }

    .is-info {
      background-color: $secondary;
    }
  }
}
</style>
