<template>
  <div class="card">
    <nuxt-link :to="link">
      <div v-if="data.image" class="card-image">
        <figure class="image">
          <img :src="getImage" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div v-if="data.price" class="media-content">
            <p class="title is-4">{{ data.price }} €</p>
            <p class="subtitle is-6">{{ data.brand.name }} {{ data.name }}</p>
          </div>
          <div v-else class="media-content">
            <p class="title is-4">{{ data.name }}</p>
          </div>
        </div>

        <div class="content">
          <p v-if="data.description && isHome">
            {{ data.description.slice(0, 50) }} ...
          </p>
          <span
            v-if="!isHome && data.category.name"
            class="tag is-primary is-light"
            >{{ data.category.name }}</span
          >
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import helpers from "../utils/helpers";

export default {
  props: {
    data: { type: Object, required: true },
    isHome: { type: Boolean, required: true },
  },
  computed: {
    getImage() {
      return helpers.getMediaUrl(this.data.image.url);
    },
    link() {
      return helpers.generateUrl(this.data);
    },
  },
};
</script>

<style lang="scss">
.card {
  background-color: $fourth !important;
  max-height: 360 / 16 + 0em;
  width: 280 / 16 + 0em;
  border-radius: 20 / 16 + 0em;

  .card-image {
    .image {
      display: flex;
      justify-content: center;
      img {
        width: auto;
        max-height: 150 / 16 + 0em;
      }
    }
  }

  .card-content {
    .media {
      margin-bottom: 0 !important;
    }
  }
}
</style>
