<template>
  <div>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Filtres</h1>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="filter-container">
        <b-button class="is-primary" @click="clearFilter()"
          >Tous les produits</b-button
        >
        <b-field label="Catégorie">
          <b-select
            placeholder="Selectionner une catégorie"
            @input="handleCategoryFilter($event)"
          >
            <option
              v-for="categorie in categories"
              :key="categorie.id"
              :value="categorie.name"
            >
              {{ categorie.name }}
            </option>
          </b-select>
        </b-field>
        <b-field label="Sous-Catégorie">
          <b-select
            placeholder="Selectionner une sous-catégorie"
            @input="handleSubCategoryFilter($event)"
          >
            <option
              v-for="subCategory in subCategories"
              :key="subCategory.id"
              :value="subCategory.name"
            >
              {{ subCategory.name }}
            </option>
          </b-select>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: [],
      subCategories: [],
    };
  },
  async mounted() {
    try {
      this.categories = await this.$strapi.$categories.find();
      this.subCategories = await this.$strapi.find("sub-categories");
    } catch (error) {
      this.error = error;
    }
  },
  methods: {
    clearFilter() {
      this.$store.dispatch("products/fetchAllProducts");
    },
    handleCategoryFilter(category) {
      this.$store.dispatch("products/filterCategory", category);
    },
    handleSubCategoryFilter(subCategory) {
      this.$store.dispatch("products/filterSubCategory", subCategory);
    },
  },
};
</script>

<style lang="scss">
.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
</style>
