<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Click !</strong> by
        <a href="https://justinnorth.fr">Justin North</a>
      </p>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss">
.footer {
  background-color: $primary !important;

  p {
    color: $fourth;

    strong {
      color: $fourth;
    }

    a {
      color: $third;
      &:hover {
        color: $secondary;
      }
    }
  }
}
</style>
