<template>
  <div class="hero-container">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ title }}
          </h1>
          <h2 v-if="subtitle" class="subtitle">
            {{ subtitle }}
          </h2>
        </div>
      </div>
    </section>

    <div class="cards-container">
      <div v-for="item in data" :key="item.id" class="card-container">
        <Card :data="item" :is-home="isHome" />
      </div>
    </div>
  </div>
</template>

<script>
import Card from "./Card";

export default {
  components: {
    Card,
  },
  props: {
    title: { type: String, required: true },
    subtitle: { type: String, default: "" },
    data: { type: Array, required: true },
    isHome: { type: Boolean, required: true },
  },
};
</script>

<style lang="scss">
.hero-container {
  margin-bottom: 100 / 16 + 0em;

  .cards-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;

    .card-container {
      margin-bottom: 30 / 16 + 0em;
    }
  }
}
</style>
