<template>
  <div id="menu" class="container">
    <b-navbar>
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <img class="logo" src="~/assets/logo.png" alt="Click logo" />
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          Accueil
        </b-navbar-item>
        <b-navbar-dropdown
          v-for="categorie in withSubCategory"
          :key="categorie.id"
          :label="categorie.name"
        >
          <b-navbar-item
            v-for="sub_categorie in categorie.sub_categories"
            :key="sub_categorie.id"
            tag="router-link"
            :to="{ path: '/sous-categorie/' + sub_categorie.slug }"
          >
            {{ sub_categorie.name }}
          </b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-item
          v-for="categorie in noSubCategory"
          :key="categorie.id"
          tag="router-link"
          :to="{ path: '/categorie/' + categorie.slug }"
        >
          {{ categorie.name }}
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/all-products' }">
          Tous les produits
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="router-link" :to="{ path: '/panier' }"
          ><i class="gg-shopping-cart"></i> ({{ nbItemsCart }})</b-navbar-item
        >
        <div v-if="username" class="buttons">
          <b-navbar-item tag="router-link" :to="{ path: '/account' }">{{
            username
          }}</b-navbar-item>
          <b-navbar-item tag="div">
            <a class="button is-primary" @click="logout">Se déconnecter</a>
          </b-navbar-item>
        </div>
        <b-navbar-item v-else tag="div">
          <div class="buttons">
            <nuxt-link to="/users/register" class="button is-primary">
              <strong>Créer un compte</strong>
            </nuxt-link>
            <nuxt-link to="/users/signin" class="button is-light">
              Se connecter
            </nuxt-link>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      categories: [],
      error: null,
    };
  },
  computed: {
    withSubCategory() {
      return this.categories.filter(function (u) {
        return u.sub_categories.length > 0;
      });
    },
    noSubCategory() {
      return this.categories.filter(function (u) {
        return u.sub_categories.length == 0;
      });
    },
    username() {
      return this.$store.getters["auth/username"];
    },
    nbItemsCart() {
      return this.$store.getters["cart/numberOfItems"];
    },
  },
  watch: {
    nbItemsCart(newCount) {
      return newCount;
    },
  },
  async mounted() {
    try {
      this.categories = await this.$strapi.$categories.find();
    } catch (error) {
      this.error = error;
    }
  },
  methods: {
    // Define your needed mutations, here: auth/logout
    ...mapMutations({
      logout: "auth/logout",
    }),
  },
};
</script>

<style lang="scss">
#menu {
  margin-bottom: 2em;

  nav {
    background-color: $fourth;
  }

  .logo {
    width: auto;
    max-height: 100 / 16 + 0em;
  }
}
</style>
