<template>
  <div>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Nouveautés</h1>
          <h2 class="subtitle">3 derniers produits</h2>
        </div>
      </div>
    </section>

    <div class="columns">
      <div v-for="nouveaute in nouveautes" :key="nouveaute.id" class="column">
        <ProductTeaser :product="nouveaute" />
      </div>
    </div>
  </div>
</template>

<script>
import ProductTeaser from "./ProductTeaser";

export default {
  components: {
    ProductTeaser,
  },
  data() {
    return {
      nouveautes: [],
      error: null,
    };
  },
  async mounted() {
    try {
      this.nouveautes = await this.$strapi.$products.find({
        _limit: 3,
        _sort: "created_at:desc",
      });
      console.log(this.nouveautes);
    } catch (error) {
      this.error = error;
    }
  },
};
</script>

<style lang="scss"></style>
