<template>
  <div>
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img :src="product.image" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ product.price }} €</p>
            <p class="subtitle is-6">{{ product.name }}</p>
          </div>
        </div>

        <div class="content">
          <p>{{ product.description }}</p>
          <span class="tag is-primary is-light">{{
            product.category.name
          }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: { product: { type: Object, required: true } },
};
</script>

<style></style>
