<template>
  <div id="register">
    <h1 class="title">Se connecter</h1>
    <section>
      <form @submit.stop.prevent="handleSubmit">
        <b-field label="Nom d'utilisateur" :label-position="labelPosition">
          <b-input v-model="username" maxlength="30"></b-input>
        </b-field>

        <b-field label="Email" :label-position="labelPosition">
          <b-input v-model="email" type="email" maxlength="30"> </b-input>
        </b-field>

        <b-field label="Mot de passe" :label-position="labelPosition">
          <b-input v-model="password" type="password" maxlength="30"></b-input>
        </b-field>

        <b-button
          type="is-primary"
          tag="input"
          native-type="submit"
          value="Créer un compte"
        />
      </form>

      <div class="legend">
        <p>
          Déjà un compte?
          <router-link :to="{ name: 'users-signin' }">
            Se connecter
          </router-link>
        </p>
      </div>
    </section>
  </div>
</template>

<script>
// Import mapMutations in order to call mutations from your store
import { mapMutations } from "vuex";
import strapi from "~/utils/Strapi";

export default {
  data() {
    return {
      email: "",
      password: "",
      username: "",
      name: "",
      loading: false,
      labelPosition: "inside",
    };
  },
  methods: {
    // Method that will register your users
    async handleSubmit() {
      try {
        this.loading = true;
        const response = await strapi.register(
          this.username,
          this.email,
          this.password
        );
        this.loading = false;
        // Call your setUser mutation from your auth.js store file
        this.setUser(response.user);
        this.$router.go(-1);
      } catch (err) {
        this.loading = false;
        alert(err.message || "An error occurred.");
      }
    },
    // Define all your needed mutations, here: auth/setUser
    ...mapMutations({
      setUser: "auth/setUser",
    }),
  },
};
</script>

<style lang="scss">
#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 78vh;

  .legend {
    margin-top: 10 /16 + 0em;

    a {
      color: $primary;

      &:hover {
        color: $third;
      }
    }
  }
}
</style>
