<template>
  <div id="signin">
    <h1 class="title">Se connecter</h1>
    <section>
      <form @submit.stop.prevent="handleSubmit">
        <b-field label="Email" :label-position="labelPosition">
          <b-input v-model="email" type="email" maxlength="30"> </b-input>
        </b-field>

        <b-field label="Password" :label-position="labelPosition">
          <b-input
            v-model="password"
            type="password"
            maxlength="30"
            password-reveal
          ></b-input>
        </b-field>

        <b-button
          type="is-primary"
          tag="input"
          native-type="submit"
          value="Se connecter"
        />
      </form>

      <div class="legend">
        <p>
          Pas de compte?
          <router-link :to="{ name: 'users-register' }">
            Créer un compte
          </router-link>
        </p>
      </div>
    </section>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import strapi from "~/utils/Strapi";

export default {
  data() {
    return {
      email: "",
      password: "",
      loading: false,
      labelPosition: "inside",
    };
  },
  methods: {
    async handleSubmit() {
      try {
        this.loading = true;
        const response = await strapi.login(this.email, this.password);
        this.loading = false;
        this.setUser(response.user);
        this.$router.go(-1);
      } catch (err) {
        this.loading = false;
        alert(err.message || "An error occurred.");
      }
    },
    ...mapMutations({
      setUser: "auth/setUser",
    }),
  },
};
</script>

<style lang="scss">
#signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 78vh;

  .legend {
    margin-top: 10 /16 + 0em;

    a {
      color: $primary;

      &:hover {
        color: $third;
      }
    }
  }
}
</style>
