<template>
  <div id="account">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Bonjour, {{ username }}</h1>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column">
        <p>Adresse e-mail : {{ user.email }}</p>
        <p>Username : {{ user.username }}</p>
        <p>Compte crée le : {{ user.created_at }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "authenticated",
  data() {
    return {
      user: this.$store.state.auth.user,
    };
  },
  computed: {
    username() {
      return this.$store.getters["auth/username"];
    },
  },
};
</script>

<style lang="scss">
#account {
  margin-bottom: 50 / 16 + 0em;
}
</style>
