<template>
  <div id="all-products">
    <FilterProducts />
    <Hero :title="title" :data="filteredProducts" :is-home="false" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Hero from "~/components/Hero";
import FilterProducts from "~/components/FilterProducts";

export default {
  components: { Hero, FilterProducts },
  computed: {
    ...mapGetters({
      title: "products/getTitle",
      products: "products/getProducts",
      filteredProducts: "products/getFilteredProducts",
      product: "products/getProduct",
    }),
  },
  // eslint-disable-next-line vue/order-in-components
  async fetch({ store }) {
    await store.dispatch("products/fetchAllProducts");
  },
  mounted() {
    if (!this.products.length) {
      this.$store.dispatch("products/fetchAllProducts");
    }
  },
};
</script>

<style></style>
