<template>
  <div id="home">
    <Hero
      title="Nouveautes"
      subtitle="3 derniers produits"
      :data="nouveautes"
      :is-home="true"
    />
    <Hero title="Categories" :data="categories" :is-home="true" />
  </div>
</template>

<script>
import Hero from "~/components/Hero";
export default {
  components: {
    Hero,
  },
  data() {
    return {
      nouveautes: [],
      categories: [],
      error: null,
    };
  },
  async mounted() {
    try {
      this.nouveautes = await this.$strapi.$products.find({
        _limit: 3,
        _sort: "created_at:desc",
      });
      this.categories = await this.$strapi.$categories.find({ _limit: 3 });
    } catch (error) {
      this.error = error;
    }
  },
};
</script>
