<template>
  <div id="cart">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Panier</h1>
        </div>
      </div>
    </section>
    <div v-if="price > 0">
      <b-table
        :data="selectedProducts"
        :bordered="isBordered"
        :striped="isStriped"
        :narrowed="isNarrowed"
        :hoverable="isHoverable"
        :loading="isLoading"
        :focusable="isFocusable"
        :mobile-cards="hasMobileCards"
      >
        <b-table-column
          v-slot="props"
          field="name"
          label="Nom du produit"
          centered
        >
          {{ props.row.name }}
        </b-table-column>

        <b-table-column v-slot="props" field="brand" label="Marque" centered>
          {{ props.row.brand.name }}
        </b-table-column>

        <b-table-column
          v-slot="props"
          field="price"
          label="Prix (à l'unité)"
          centered
        >
          {{ props.row.price }} €
        </b-table-column>

        <b-table-column v-slot="props" label="Quantité" centered>{{
          props.row.quantity
        }}</b-table-column>

        <b-table-column v-slot="props" label="Quantity" centered
          ><a class="uk-margin-left"
            ><span class="uk-badge" @click="addToCart(props.row)">+</span></a
          >
          <a
            ><span class="uk-badge" @click="removeFromCart(props.row)"
              >-</span
            ></a
          ></b-table-column
        >
      </b-table>

      <b-button type="is-primary">Accéder au paiement ({{ price }}€)</b-button>
    </div>
    <div v-else>
      <p>Votre panier est vide</p>
      <nuxt-link to="/all-products">Continuer votre shopping</nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: false,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: true,
    };
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
    selectedProducts() {
      return this.$store.getters["cart/items"];
    },
    price() {
      return this.$store.getters["cart/price"];
    },
    numberOfItems() {
      return this.$store.getters["cart/numberOfItems"];
    },
  },
  methods: {
    ...mapMutations({
      addToCart: "cart/add",
      removeFromCart: "cart/remove",
    }),
  },
};
</script>

<style lang="scss">
#cart {
  margin-bottom: 30 / 16 + 0em;
  .b-table {
    margin-bottom: 10 / 16 + 0em;
    .table {
      background-color: $fourth;
      border: 1px solid $secondary;
    }
  }
}
</style>
