<template>
  <div class="category-page">
    <Hero :title="title" :data="products" :is-home="false" />
  </div>
</template>

<script>
import Hero from "~/components/Hero";

export default {
  components: { Hero },
  data() {
    return {
      title: "",
      products: [],
      subCategories: [],
      error: null,
    };
  },
  async mounted() {
    try {
      const category = await this.$strapi.$categories.find({
        slug: this.$route.params.slug,
      });
      this.title = category[0].name;
      this.products = category[0].products;
      this.subCategories = category[0].sub_categories;
    } catch (err) {
      this.error = err;
    }
  },
};
</script>

<style></style>
